@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, footer, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato";
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.conteiner {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  transform: translate3d(-50%, 0px, 0px);
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.menu__list {
  display: flex;
}
.menu__list li {
  position: relative;
  padding: 0 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}
.menu__list li:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -1.5px 0 0 0;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}
.menu__link {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #4d4959;
}
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0 20px 0;
    transform: translate3d(0px, -100%, 0px);
    transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    transform: translate3d(0, 0, 0);
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2)::after, .menu__list li:nth-child(3)::after {
    display: block;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0 -2px 0 0;
  }
  .menu__link {
    color: white;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    background-color: #fff;
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generation {
  padding: 130px 0;
  background-color: #f7f7f7;
}
@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .generation {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
}
.block__icon {
  margin: 0 0 30px 0;
}
.block__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 34px;
  color: #353738;
  margin: 0 0 18px 0;
}
.block__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}
.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block__text_j:after {
  display: block;
  margin: 35px auto 0 auto;
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}
@media (max-width: 1500px) {
  .block__text_j:after {
    margin: 15px auto 0 auto;
  }
}

.brands_rev .brands__column {
  order: 1;
}
.brands_rev .brands__column_b {
  order: 2;
}
.brands__row {
  display: flex;
}
.brands__column {
  flex: 0 1 33.8%;
}
.brands__column_b {
  flex: 0 1 67.667%;
}
.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.brands__content:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.brands__image {
  padding: 0 0 37.51% 0;
}
.brands__block {
  height: 100%;
  display: block;
  position: relative;
}
@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brands__row {
    flex-direction: column;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  transition: all 0.3s ease 0s;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 194, 158, 0.4);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
}