@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, footer, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato";
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.conteiner {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0px, 0px);
}

.menu__list {
  display: flex;
}
.menu__list li {
  position: relative;
  padding: 0 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}
.menu__list li:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -1.5px 0 0 0;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}
.menu__list {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #4d4959;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}