//Подключение обнуляющего списка
 @import "nullstyle.scss";

 .block{
   height: 60vh;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   overflow: hidden;
   >div{
      width: 700px;
      background-color: #333;
      position: relative;
      left: -50%;
      &:nth-child(2){
         position: relative;
         left: -100%;
         background-color: white;
         clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
         width: 700px;
         z-index: 1;
      }
      &:nth-child(3){
         width: 70vw;
         min-width: 1000%;
         left: -120%;
         background: url('https://planetofhotels.com/guide/sites/default/files/styles/node__blog_post__bp_banner/public/2020-06/Exotic-tropical-beach-sunse.jpg') 100% 50% / cover;

      }
   }
 }