//<ПОДКЛЮЧАЕМ ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
//</ПОДКЛЮЧАЕМ ШРИФТЫ>

//<ШРИФТЫ ПО УМОЛЧАНИЮ>
$fontfamily:"IBM Plex Mono";
//</ШРИФТЫ ПО УМОЛЧАНИЮ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import "nullstyle.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper{
   overflow: hidden;
   min-height: 100%;
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container{
   max-width: 1560px;
   padding: 30px 0 0 0;
   margin: 0 auto;

}
//</ОСНОВНАЯ СЕТКА>

//<mixin>
@import "mixin.scss";
//</mixin>

//<ОСНОВНОЙ БЛОК>
.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   left: 0;
   top: 35px;
   &__row {
      height: 29px;
      max-width: 1200px;
      padding: 0px 0px 0px 0px;
      margin: 0px auto;
      border-bottom: solid;
   }
}
.menu {
   &__list{


   }
   &__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   &__lang{
      display: flex;
      flex-direction: row;
      li{
         position: relative;
         padding: 0 5px;
         display: flex;
         
         &:first-child
         {
            flex-direction: row-reverse;
            &::before{
               background-color: black;
               content: "";
               margin: 0px 0px 0px 10px;
               width: 1px;
               height: 15px;
               display: inline-block;
               transform: rotate(195deg);
            }
         }
      }
   }
   &__link{
      font-size: 13px;
   }

   
   &__logo {
      font-weight: 700;
      position: relative;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      &::before{
         content: '';
         width: 19px;
         height: 19px;
         background-color: black;
         border-radius: 50%;
         position: absolute;
         right: 0%;
         top: -21%;
         margin: 0 40px 0;
      }
   }

   &__about{
      display: flex;
      flex-direction: row;
      li{
         padding: 0 32px;
      }
   }
   
}



//</ОСНОВНОЙ БЛОК>
