//<ПОДКЛЮЧАЕМ ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
//</ПОДКЛЮЧАЕМ ШРИФТЫ>

//<ШРИФТЫ ПО УМОЛЧАНИЮ>
$fontfamily:"IBM Plex Mono";
//</ШРИФТЫ ПО УМОЛЧАНИЮ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import "nullstyle.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper{
   overflow: hidden;
   min-height: 100%;
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container{
   max-width: 1560px;
   padding: 30px 0 0 0;
   margin: 0 auto;

}
//</ОСНОВНАЯ СЕТКА>

//<mixin>
@import "mixin.scss";
//</mixin>

//<ОСНОВНОЙ БЛОК>
.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   left: 0;
   top: 35px;
   &__row {
      
      height: 85px;
   }
   &__logo {
      position: absolute;
      left: 50%;
      top: 0;
   }
}
.menu {
   &__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   &__lang{
      display: flex;
      flex-direction: row;

      li{
         position: relative;
         padding: 0 5px;
         display: flex;
         flex-direction: row-reverse;
         &:first-child
         {
            &::before{
               background-color: black;
               content: "";
               margin: 0px 0px 0px 10px;
               width: 1px;
               height: 15px;
               display: inline-block;
               transform: rotate(195deg);
            }
         }
      }
   }
   &__link{
      font-size: 13px;
      
   }

   &__logo {
      
   }

   &__about{
      display: flex;
      flex-direction: row;
      li{
         padding: 0 32px;
      }
      
   }
}



//</ОСНОВНОЙ БЛОК>
