.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   &__row {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__menu {
   }

   &__logo {
   }
}
.menu {

   &__icon {
   }

   &__body {
   }

   &__list {
   }

   &__ls {
   }
}
.icon-menu {
}
