.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   left: 0;
   top: 35px;
   
   &__row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 85px;
   }

   &__menu {
   }

   &__logo {
      position: absolute;
      left: 50%;
      top: 0;
      @include tr(-50%,0px,0px);
   }
}
.menu {

   &__icon {
   }

   &__body {
   }

   &__list {
      display: flex;
      li{
         position: relative;
         padding: 0 37.5px;
         &:nth-child(2){
            padding: 0 110px 0 37.5px;
         }
         &:nth-child(3){
            padding: 0 37.5px 0 110px ;
         }
         &:after{
            content: '';
            width: 2px;
            height: 2px;
            background-color: #4d4959;
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: 50%;
            margin: -1.5px 0 0 0;
         }
         &:nth-child(2),&:last-child{
            &:after{display: none;}
         }
      }
   }

   &__list {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.2em;
      color: #4d4959;
   }
}
