//<ПОДКЛЮЧАЕМ ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
//</ПОДКЛЮЧАЕМ ШРИФТЫ>

//<ШРИФТЫ ПО УМОЛЧАНИЮ>
$fontfamily:"Lato";
//</ШРИФТЫ ПО УМОЛЧАНИЮ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import "nullstyle.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper{
   overflow: hidden;
   min-height: 100%;
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container{
   max-width: 1130px;
   padding: 0 15px;
   margin: 0 auto;

}
//</ОСНОВНАЯ СЕТКА>

//<mixin>
@import "mixin.scss";
//</mixin>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "ui.scss";
@import "header.scss";
//@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>


//<ОСНОВНОЙ БЛОК>
.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
}
.main-screen {
   flex: 1 0 100%;
   position: relative;
		&__bg {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
		}
}

.generation {
   padding: 130px 0;
   background-color: #f7f7f7;
   @media (max-width: 900px){
      padding: 80px 0;
   }
   @media (max-width: 600px){
      padding: 30px 0;
   }
}

.block {
      text-align: center;
		&__icon {
         margin: 0 0 30px 0
		}

		&__title {
         font-size: 18px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 0.2em;
         line-height: 34px;
         color: #353738;
         margin: 0 0 18px 0;
		}

		&__text {
         font-size: 18px;
         line-height: 34px;
         color: #848789;
         &_j {
            text-align: justify;
            font-size: 16px;
            line-height: 30px;
            &:after{
               display: block;
               margin: 35px auto 0 auto;
               content: '';
               width: 50px;
               height: 1px;
               background-color: rgba(53,55,56,0.2);
            }
         }
		}
      @media (max-width: 1500px){
         &__text{
            &_j{
               &:after{
                  margin: 15px auto 0 auto;
               }
            }
         }
      }
}

.brands {
   &_rev{
      .brands__column{
         @include flexorder(1);
         &_b{
            @include flexorder(2);
         }
      }
   }

   &__row {
      display:  flex;
   }

   &__column {
      flex: 0 1 33.8%;
      &_b {
         flex: 0 1 67.667%;
      }
   }
   
   &__content {
      padding: 70px 65px 55px 65px;
      position: relative;
      &:after{
         content: '';
         position: absolute;
         bottom: -10px;
         left: 50%;
         margin: 0 0 0 -10px;
         width: 0;
         height: 0;
         border-left: 10px solid transparent;
         border-right: 10px solid transparent;
         border-top: 10px solid #fff;
      }
   }
   &__image {
      padding: 0 0 37.51% 0 ;
   }
   &__block{
      height: 100%;
      display: block;
      position: relative;
   }
   @media (max-width: 1500px){
      &__content{
         padding: 40px 35px 30px 35px;
      }
   }
   @media (max-width: 1100px){
      &_last{
         .brands__column{
            &:nth-child(1){
               @include flexorder(2);
            }
            &:nth-child(2){
               @include flexorder(1);
            }
            &:nth-child(3){
               @include flexorder(3);
            }
         }
      }
      &__row{
         flex-direction: column;
      }
   }
}
.item {
   height: 100%;
   display: block;
   position: relative;

   &__logo {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      @include anim(0.3s,0s);
      justify-content: center;
      align-items: center;
      background-color: rgba(100,194,158,0.4);
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      span{
         margin-top: 10px;
         font-size: 14px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 0.2em;
         color: #ffffff;
      }
   }

   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
   &:hover{
      .item__logo{
         opacity: 1;
         visibility: visible;
      }
   }
   @media (max-width: 1100px){
      height: auto;
      padding: 0 0 70% 0;
   }
}

//Slider
.slider {
   background-color: #f7f7f7;
   padding: 120px 0 60px 0;
   &__item {
      text-align: center;
   }

   &__icon {
      margin: 0 0 35px 0;
   }

   &__title {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
      letter-spacing: 0.1em;
      color: #353738;
      margin: 0 0 20px 0;
      span{
         font-weight: 300;
         color:#848789;
      }
   }

   &__text {
      text-align: center;
      font-size: 24px;
      line-height: 34px;
      font-style: italic;
      color: #848789;
   }
}

.shop {

   &__body {
      display: flex;
   }

   &__column {
      flex: 0 1 16.666%;

      &_b {
         flex: 0 1 33.333%;
      }
   }

   &__block {
   }

   &__footer {
   }

   &__btn {
   }
}
.block-shop {
   height: 100%;

   &__row {
      display: flex;
      
   }

   &__column {
      flex: 0 1 50% ;
   }

   &__item {
      height: auto;
      padding-bottom: 50%;
      &_b{
         padding-bottom: 200.5%;
      }
      &_l{
         padding-bottom: 100%;
      }
   }
}


//</ОСНОВНОЙ БЛОК>
